@import url('resets.css');
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

/* ==========================================================================
   Globals
   ========================================================================== */
/**
 * This houses all the global css classes
 */

html, body {
	height:100%;	
	font-family: Arial, Helvetica, sans-serif;
}
.wrap {
	width:100%;
	position:relative;
	overflow:none;
	padding: 0% 2%;
}
.mobile-header,
.mobile-logo,
.mobile-nav {
		display: none;
}
.left {
	float:left;
}
.right {
	float:right;
}
.block {
	display:block;
}
.none {
	display:none;
}
.relative {
	position:relative;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.center {
	text-align:center;
}
.bold {
	font-weight:700;
}
.italic {
	font-style:italic;
}
.uppercase {
	text-transform:uppercase;
}
.oswald {
	font-family: "Oswald", sans-serif;
}
hr {
	border: 1px solid #e7e7e7;
}
h1, h2 {
	font-family: 'Oxygen', sans-serif;
}
.light-blue {
	display: inline-block;
	padding: 10px;
	border-radius: 3px;
	background-color: #379cda;
	color: #fff;
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 14px;
	margin: 5px 0;
}
.dark-blue {
	display: inline-block;
	padding: 10px;
	border-radius: 3px;
	background-color: #2265ae;
	color: #fff;
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

/* ==========================================================================
   Header
   ========================================================================== */
/**
 * This houses all the header classes
 *
 * This section also stores all of the splash (slider) css classes
 *
 * Excludes:
 *
 * All of the external css files that are used to render the slider (direct download)
 */
header {
	position: relative;
	z-index: 500;
}
.list {
	display: inline-block;
}
.desktop {
	float: right;
}
.desktop ul li {
	float: left;
	padding: 20px 45px;
}
.desktop ul li a {
	text-decoration: none;
	font-family: 'oxygen', sans-serif;
	font-weight: 700;
	color: #282828;
	font-size: 13px;
	text-transform: uppercase;
}
.desktop ul li a:hover {
	color: #2265ae;
}

/* TOP SECTION */


.slider {
	max-height: 485px;
}
.slider > a {
	top: 250px;
}
.slider > img {
	top: 288px;
}
.slider > p {
	top: 405px;
	font-family: 'Oxygen', sans-serif;
	color: #282828;
	font-weight: 700;
	font-size: 13.52px;
}
.slider > p span {
	font-size: 21.45px !important;
}
.slider > a,
.slider > img,
.slider > p {
	position: absolute;
	z-index: 999;
}
.top-box {
	float: left;
	width: 25%;
	padding: 1%;
}
.top-box span {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 30px;
}
.top-box p {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

/* MIDDLE */


.test {
	padding-top: 100px;
}
.middle h1 {
	font-size: 36px;
}
.middle h1 span {
	font-weight: 700;
}
.middle h2 {
	font-size: 30px;
}
.middle h1,
.middle h2 {
	color: #282828;
	font-weight: 400;
	position: relative;
	z-index: 500;
	margin-bottom: 20px;
}
.middle a {
	position: relative;
	z-index: 500;
	text-decoration: none;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	background-color: #2265ae;
	padding: 15px;
	display: inline-block;
	border-radius: 5px;
	margin-top: 20px;
}
.middle a:hover {
	background-color: #2699e2;
}
.splash {
	position: relative;
	z-index: 1;
	float: right;
	top: -225px;
	margin-bottom: -150px;
}

.specs h1 {
	display: inline-block;
}
.specs img {
	float: left;
}
.specs p {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #838383
}


.gallery {
	padding: 100px 0;
}
.gallery h1 {
	font-size: 30px;
}


/* GALLERY PAGE */

.features h1 {
	font-weight: 700;
	letter-spacing: 10px;
	color: #282828;
	font-size: 30px;
}
.features > ul {
	border: 1px solid #e7e7e7;
	width: 20%;
	margin-top: 3%;
}
.features > ul li {
	background: url(../img/gallery-arrow.jpg) 95% 50% no-repeat;
	list-style: none;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px;
}
.features ul li:last-child {
	border-bottom: none
}
.features ul li a {
	text-decoration: none;
	font-family: 'Oxygen', sans-serif; 
	font-weight: 700;
	font-size: 16px;
	color: #282828;
}
.galleries {
	width: 75%;
	float: right;
	padding: 3% 0;
}
.galleries:last-child {
	margin-bottom: 100px;
}
.galleries h2 {
	font-size: 18px;
	font-weight: 700;
	color: #282828;
	letter-spacing: 10px;
}
.galleries ul li {
	float: left;
	list-style: none;
	padding: 5px;
}


/* SPECIALS PAGE */

.specials {
	padding: 10% 0;
}
.specials > h1 {
	font-weight: 300;
	font-size: 36px;
	color: #282828;
	letter-spacing: 15px;
}
.deal {
	display: inline-block;
	width: 100%;
	padding: 5% 0;
}
.see-details {
	font-size: 12px;
	color: #33a3d7;
}
.deal h1 {
	font-weight: 700;
	font-size: 35px;
	color: #393939;
}
.deal p {
	font-family: 'Arial', sans-serif;
	color: #393939;
	font-size: 14px;
}
.price {
	font-family: 'Arial', sans-serif;
	font-size: 15.6px;
	color: #868686;
}
.expiration {
	font-family: 'Arial', sans-serif;
	color: #9d9d9d;
	font-size: 11px;
}


/* TESTIMONIALS */

.testimonials h1 {
	font-weight: 400;
	color: #282828;
	font-size: 24px;
	letter-spacing: 8px;
}
.testimonials h1 + hr {
	margin-bottom: 60px;
}
.testimonials blockquote {
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	color: #393939;
	text-align: justify;
}
.testimonials > div > p {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: #797979;
	line-height: 25px;
}
.testimonials span {
	color: #256cb4;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
}
.testimonials hr + div {
	float: left;
	width: 36%;
}
.testimonial {
	width: 33%;
	padding: 5% 2%;
	float: left;
}
img + .testimonial {
	margin-top: 143px;
}



/* COMPARE MAIN */

.compare-main {
	margin-top: 40px;
	margin-bottom: 100px;
}
.compare-main h1 {
	font-weight: 300;
	font-size: 48.54px;
	color: #282828;
	letter-spacing: 12px;
}
.compare-main p {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #4b4b4b;
}
.compare {
	width: 313px;
	height: 218px;
	border: 1px solid #dcdcdc;
	background-color: #f9f9f9;
	float: left;
	padding: 2%;
	margin: 1%;
}
.compare p {
	text-align: center;
	margin-bottom: 20px;
}


/* TECHNOLOGY PAGE */

.informative h1 {
	color: #282828;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 6px;
	line-height: 46px;
}
.informative h1 span {
	font-size: 24px;
}
.informative p {
	font-size: 15px;
	color: #282828;
	font-family: 'Arial', sans-serif;
	width: 45%;
	margin-top: -50px;
	text-align: justify;
}
.informative a,
.heads-up a,
.airbags a {
	margin: 20px 0;
}
.tech-splash2 {
	position: relative;
	z-index: -1;
	top: -85px;
}
.heads-up h1,
.airbags h1 {
	font-weight: 400;
	font-size: 36px;
	letter-spacing: 6px;
}
.heads-up p,
.airbags p,
.scc p {
	font-size: 15px;
	color: #282828;
	font-family: 'Arial', sans-serif;
	text-align: justify;
}
.scc {
	margin-bottom: 100px;
}
.scc h1 {
	font-weight: 400;
	font-size: 43px;
	letter-spacing: 6px;
	line-height: 32px;
}
.scc h1 span {
	font-size: 24px;
}


/* OWNER EXPERIENCE */
.owner-exp {
	margin: 100px 0;
}


/* BLUE LINK */
.blue-link h1 {
	font-weight: 400;
	font-size: 48px;
	color: #15589b;
	letter-spacing: 15px;
	text-align: center;
	line-height: 32px;
	margin: 30px 0;
}
.blue-link h1 span {
	font-size: 24px;
	color: #36aadf;
	letter-spacing: 10px;
}
.blue-link,
.connect,
.smartphone {
	margin: 40px 0;
}
.blue-link p,
.connect p,
.smartphone p {
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #676767;
}
.connect p {
	width: 50%;
}
.connect h2,
.smartphone h2 {
	font-weight: 400;
	font-size: 22px;
	color: #16589b;
	letter-spacing: 6px;
}
.mirror {
	margin-top: -100px;
}
.phones {
	margin-right: 30px;
}

/* FOOTER */


footer {
	padding-bottom: 50px !important;
	margin-top: 50px;
}
footer p {
	text-align: center;
	margin: 15px 0;
	font-size: 12px;
	color: #cfcfd9;
}
footer p a {
	display: inline-block;
	padding: 7px 15px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.3, #2699e2), to(#1e5598));
	background-image: -webkit-linear-gradient(#2699e2 30%, #1e5598);
	background-image: -moz-linear-gradient(#2699e2 30%, #1e5598);
	background-image: -o-linear-gradient(#2699e2 30%, #1e5598);
	background-image: linear-gradient(#2699e2 30%, #1e5598);
}
footer p a:hover {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.3, #1e5598), to(#2699e2));
	background-image: -webkit-linear-gradient(#1e5598 30%, #2699e2);
	background-image: -moz-linear-gradient(#1e5598 30%, #2699e2);
	background-image: -o-linear-gradient(#1e5598 30%, #2699e2);
	background-image: linear-gradient(#1e5598 30%, #2699e2);
}
footer ul {
	text-align: center;
}
footer ul li {
	display: inline-block;
}
footer ul li a {
	text-decoration: none;
	font-size: 13px;
	color: #2693dd;
	border-right: 1px solid #2693dd !important;
	display: block;
	padding: 0 15px;
}

 /* ==========================================================================
   Media Queries
   ========================================================================== */
/**
 * this section houses all the responsive layouts/media queries
 */

/* Full screen desktops */
@media only screen and (min-width:1000px) {
	.wrap {
		width: 1000px;
		margin: 0 auto;
		padding: 0;
	}
}